<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            function allck() {
                var all_ck = document.querySelector('#all');
                var rows = document.querySelectorAll('input[name=row]');
                rows.forEach(function(row) {
                    row.checked = all_ck.checked;
                });
            }
            function checkDelete(){
                var rows = document.querySelectorAll('input[name=row]:checked');
                //console.log(rows);
                if(rows.length == 0){
                        alert('1개이상 선택해주세요.');
                        return false;
                }else{
                    if(confirm('정말 삭제하시겠습니까?')){

                    }else{
                        alert('취소');
                        return false;
                    }
                }
            }
        </script>
    </th:block>

    <div class="content" layout:fragment="content">
        <h2>영화 목록 페이지([[${totalCount}]]/[[${getTotalElements}]])</h2>

        <form th:action="@{/movies}" method="get" class="form-inline justify-content-center">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="이름 또는 장르로 검색">
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
        </form>

        <form name="myform" method="post" action="/movie/checkDelete">
            <table class="table">
                <thead>
                <tr>
                    <th><input type="checkbox" id="all" onclick="allck()">번호</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>나이</th>
                    <th>장르</th>
                    <th>즐겨 보는 시간대</th>
                    <th>동반 관객수</th>
                    <th>개선사항</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movieList}">
                    <td><input type="checkbox" name="row" th:value="${movie.no}">[[${movie.no}]]</td>
                    <td>
                        <a th:href="@{/movie/detail(no=${movie.no})}" th:text="${movie.user_id}"></a>
                    </td>
                    <td th:text="${movie.name}"></td>
                    <td th:text="${movie.age}"></td>
                    <td th:text="${movie.genre}"></td>
                    <td th:text="${movie.movie_time}"></td>
                    <td th:text="${movie.people}"></td>
                    <td th:text="${movie.movie_comment}"></td>
                    <td><a th:href="@{/movie/update(no=${movie.no})}" class="btn btn-primary">수정</a></td>
                    <td><a th:href="@{/movie/delete(no=${movie.no})}" class="btn btn-danger">삭제</a></td>
                </tr>
                </tbody>
            </table>
            <div style="text-align:center;">
                <input type="button" class="btn btn-primary" onclick="location.href='/movie/insert'" value="추가">
                <input type="submit" class="btn btn-danger" onclick="return checkDelete()" value="선택항목 삭제">
            </div>
        </form>

        <!--   페이지 설정    -->
        <nav>
            <ul class="pagination  justify-content-center">
                <li class="page-item" th:classappend="${movieList.hasPrevious()} ? '':'disabled'">
                    <a class="page-link" th:href="@{/movies(page=${movieList.Number-1},size=${movieList.size},keyword=${keyword})}">Previous</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(0,movieList.totalPages-1)}" th:classappend="${i==movieList.number} ? 'active'">
                    <a class="page-link" th:href="@{/movies(page=${i},size=${movieList.size},keyword=${keyword})}" th:text="${i+1}"></a>
                </li>
                <li class="page-item" th:classappend="${movieList.hasNext()} ? '':'disabled'">
                    <a class="page-link" th:href="@{/movies(page=${movieList.Number+1},size=${movieList.size},keyword=${keyword})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</html>