<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/mylayout}">
<th:block layout:fragment="css">
    <style>
        .fieldError{
            color: red;
            font-size: 12px;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
            // alert('1');
            var bookstore = [[${bookBean.bookstore}]]; // 알라딘,yes24
            var bookstoreList = $('input[name=bookstore]'); // 교,알,yes,인
            bookstoreList.each(function(){
                var curr = $(this).val();
                var result = bookstore.indexOf(curr);
                //alert(curr + ":" + result);
                if(result != -1){
                    $(this).attr('checked',true);
                }
            });
        });
    </script>
</th:block>
<div class="content" layout:fragment="content">
    <h2>도서 등록 <span th:text="${bookBean.bookstore}"> </span></h2>
    <form name="myform" method="post" action="/book/insert" th:object="${bookBean}">
        <div class="form-group">
            <b>제목</b>
            <input type="text" class="form-control" th:field="${bookBean.title}" placeholder="제목을 입력하세요.">
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>저자</b>
            <input type="text" class="form-control" th:field="${bookBean.author}" placeholder="저자를 입력하세요.">
            <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>출판사</b>
            <input type="text" class="form-control" th:field="${bookBean.publisher}" placeholder="출판사를 입력하세요.">
            <p th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>가격</b>
            <input type="text" class="form-control" th:field="${bookBean.price}" placeholder="가격을 입력하세요.">
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>입고일</b>
            <input type="date" class="form-control" th:field="${bookBean.buy}">
            <p th:if="${#fields.hasErrors('buy')}" th:errors="*{buy}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>배송비</b>
            <div class="form-control">
                <div class="form-check-inline">
                    <input type="radio" class="form-check-input" th:field="${bookBean.kind}" value="유료">유료
                    <input type="radio" class="form-check-input" th:field="${bookBean.kind}" value="무료">무료
                </div>
            </div>
            <p th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>구입 가능 서점</b>
            <div class="form-control">
                <div class="form-check-inline">
                    <input type="checkbox" class="form-check-input" th:field="${bookBean.bookstore}" value="교보문고">교보문고
                    <input type="checkbox" class="form-check-input" th:field="${bookBean.bookstore}" value="알라딘">알라딘
                    <input type="checkbox" class="form-check-input" th:field="${bookBean.bookstore}" value="yes24">yes24
                    <input type="checkbox" class="form-check-input" th:field="${bookBean.bookstore}" value="인터파크">인터파크
                </div>
            </div>
            <p th:if="${#fields.hasErrors('bookstore')}" th:errors="*{bookstore}" class="fieldError"></p>
        </div>
        <div class="form-group">
            <b>구입 가능 서점</b>
            <select class="form-control" th:field="${bookBean.count}">
                <option value="">--선택하세요</option>
                <option th:each="num : ${#numbers.sequence(1,10)}" th:value="${num}" th:text="${num}" />
            </select>
            <p th:if="${#fields.hasErrors('count')}" th:errors="*{count}" class="fieldError"></p>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
        <button type="reset" class="btn btn-primary">취소</button>
    </form>
</div>
</html>